<style>
.margin {
margin-top: 50px;
}
</style>

<div class="upcoming-events text-center margin">
    <div class="container">
        <div class="row text-left eventC">
            <div class="col-lg-3">
                {% block sidebar %}
                    {% include 'Side Bar' %}
                {% endblock %}
                
            </div>

            <div class="col-lg-9" style="padding-bottom:35px;">
                {% block gridheader %}
                    {% include 'Grid Header' %}
                {% endblock %}
            </div>

            <div class="col-lg-9">

                asdfdfsdfsdfasafdsfdsf
                {% include 'Training Entity View' %}
            </div>


        </div>


    </div><!-- /.container -->
</div><!-- /.upcoming-events -->


