{% extends 'layout 2 column with view' %}
{% block sidebar %}

{% assign training_nav = weblinks["Training Navigation"] %}

{% if training_nav %}

<ul class="list-unstyled">
{% for link in training_nav.weblinks %}
<li><a href="{{ link.url }}">{{ link.name | escape | upcase }}</a></li>
{% endfor %}
</ul>



{% endif %}

{% endblock %}

            
{% block gridheader %}
        <h2>Training (All Courses)</h2>
        <div>Workplace Safety North’s complete course catalogue is stored in the database below. 
            View training schedule. If you discover a course does not have any sessions listed, please contact c
            ustomer care to open a session or initiate a waiting list for your chosen course. If interested in offering courses, 
            please visit Training Partners webpage.</div>
{% endblock %}




